---
import Layout from "../layouts/Layout.astro";
---

<Layout title="SUPERDIGITAL">
  <main>
    <div class="centered">
      <div class="blurry textbox">
        <pre>
`"", .,`:"°°°°°:",..            "#:`       ..#▲▼/` ....   . 
"":`..`°/::°°°°:",,.            °*/".`.    ..▼'▲/` ....  ...
"°:`.,°;/::°°°°:"`,.            :▼▼°`:,   .,,▼▀'#` .,,.. ,,,
"°;".`:#/;:°°°°:"`,.            :▲▲:";`.. .`"▲▀'*` .,,,. ``,
"°;°,:#*/;:°°°::"`,             :▲▲::/;°...""▲▀'*` .`,,..```
°°;;°;**#;:°°::;°,              :▲';/*/:,,.""▲▀'*`  ``,.."""
°:;;;/**#;:"`"°:".              :''//▼#;,`,"°▼▼'▼`  ```..,,"
°:;/##**#;°                     ;'▀/:##:,°"°:".:/,  ```.,.`°
°:;/#***#:.                     ;'▀/;;::`;:°:, ..   `",.,`,°
°:;/****/"                      ;▀▀###:;`/;:;.      ,"..``,°
°:;/**▼#..                      ;▀▀*▼*//°//;/.      .".,`"`°
:;;#***#                        /*"/▲▼▼*://°#.      .`.,`:":
:;/#*▼#"                       .:, ;'▼▲▼°/;,`       ., ,"/°:
:;/#*▼"                            /'°#▲°/:          . ,°*::
:;/#**.                   .        ;:`#'//"            ,:#;;
;;/#*/                  ..,`°°###*°*▲'▀░░*`            `;°//
;;/#*,                ..,`;***'░▓░;▼▓▓░'*/`            ,/`:#
/;;:/.                ,``;▼*#*'░▓';#'*/°".   ..      . .°,;▼
//°,".                "::*▲**▼░▀▼;;". .     ...     ..    `▼
//,..                 ./#▼▼▼▼▼°;:`,",`.     .,.     ...    "
#"                     "#▼▲▲▼/ ,.  ."°.     .,..    ....   `
/.                      ;#",...    .`       .,,.   ..,,.  ."
;                       ..   ..    ,.        ..     ..,.. ,,
`                            .,                     . ...   
.         <span class="highlight">SUPERDIGITAL</span>       ., .                     ..    
                             .,....                   ..    
                             ,;,...   .               ...   
    .                        ,`.,..   ..  ..          ..   .
   ."`,,.      .    <a href="https://open.spotify.com/artist/6zlz8z3uKC9xqBfNmLW6LD?si=Z5ekVWeBQtWhx-Dtgsop9w"><span class="highlight blink-on-hover">SPOTIFY</span></a>    ,`.    ,, .,,.               
   `/:::",,`,. .              .`` ..  ,,.,``..   .      .   
   "//#*#:°#°`,,. <a href="https://www.instagram.com/superdigitalsd/"><span class="highlight blink-on-hover">INSTAGRAM</span></a>   .`` °/`:`,.,"",.. .,..       .
     ."#▲▼*▼;""`.             ."..`""*``,,°",,,,"`,.. .. ...
       ,;▼▼▲/:/`       <a href="mailto:mgmt@superdigit.al"><span class="highlight blink-on-hover">MGMT</span></a> . .. ..`°;``,`°°`,,"°"``,.,. ,. 
          .;/;*°            .    .,°`.`"``:°"``°:°°"`.,, ...
     .      "#▼"       <span class="unavailable">FEED</span>      ,`°,,`°"":°"°:°:°°:",,,  ,.
     .,     `:,      .           .":"`"""°:°°:▼*#°°;",..  ,.
    .,,           . ..           .°;:"°."°:°:/░█▼°`,..    ,,
    ..            . .,     .      °;;°" `:;:;**▼:°.  .      
                   .,,.   .,  ..  °//:` ,:;:;°"`,           
                   .,,.  .,. .,`.`:#/;`  `;/,           .   
   .               .,`..,`` .,`"`▼▼/##". ,;#.    .  .   .   
  .`.              .``.`""`.,,"°":;°#*°,.,°`    .. ...  .   
  ,,    ..         .``,`°°`,``°:::`°▲#°``        .. ..  .  .
  .    .,....       ,`,"°,,`""°°:;/°::°°:        .   .  ....
    .  ,,..,.       ,"`,..,""°°°:/#° ,`;°        .,  ...,...
 ..., ,``,,`, ....  ,"`   .:°;;:;//° ."`         ,`..,..,,,.
 ..,, ``,,,",.,...  `°:..  ::#*;:. ,.,°, .,.     ,"`,,, .,,,
.,.,,."`.,`"`, ..   `:/",. ::*▼#°  ,,`:`.,°, .    ``,`, .```
.,,``"°` ,,,", ..   `:°. . ,":°:   `,";".:▲` .    .,...  `""
.```"::` ,,.", ,.   `,  .,  ,.      .°/°`'▼,.,..  ,,     ,°:
,"``°;;°.,`"°, ,, ..",..,`..,.     .,:#;`,...""`.        `:;
,"`";#/" ,`::, ,,..."",.",`.`.      `/°°"..,,"/°.        ,;/
,""°#;,  ,"::`,`,,.,"°```.",`. ..   :#. `,",`#° ..       ,//
,"":"    ,°;:,":,,.`,°"", .`",.,.   :°  `":`";.  .       .;°
`°°"    .`°;:,`"``,",::".. ,"°``,,.   ".`:#"".  .",       , 
`°:`    .`:/;`..``," `:,#:. ,"°"`";#/#▲/:;*°"   `#`      .  
`::` .  .":#;`,.`",.  .°▓▀*, .`""°*▼▲▀░░/;/:`   "▲#".   °▼:`
°;;".....`:#;",,`",.  .▲██░:```";;//''#°"°`/`   "'█'° ./▓█*"
:*/"....  :*;"`,"°,...#▓▓█▓▀'▀▼°;;#*▼#;,:,`/`  ."▼██'#▲██▓##
:/;".,.. .:*;"``"°`,,`▲▓▓▓██▓▓░▼▲**▲▼*/°° ,/`  .:▀████████▼'
      </pre>
      </div>
    </div>
  </main>
</Layout>

<style>
  main {
    margin: auto;
    padding: 1rem;
    width: 800px;
    max-width: calc(100% - 2rem);
    color: #b0b0b0;
    font-size: 20px;
  }
  .highlight {
    color: #fff;
    text-shadow: none;
  }
  .blink-on-hover:hover {
    animation: blink-animation .4s steps(5, start) infinite;
    -webkit-animation: blink-animation .4s steps(5, start) infinite;
  }
  .unavailable {
    filter: blur(2px);
  }
  .textbox {
    margin: auto;
    display: block;
    text-align: left;
    line-height: 1;
    white-space: pre;
    font-size: 14px;
  }
  pre {
    font-family: inherit;
  }
  .blurry {
    filter: blur(0.6px);
    text-shadow: 0.06ex 0 #a50610, -0.06ex 0 #0c2aa8, 0 0.14ex 0 rgba(0,0,0,.8), 0.12ex 0 0 rgba(0,0,0,.8);
  }
  .centered {
    display: flex;
    align-items: center;
  }
  @keyframes blink-animation {
    from {
      text-shadow: none;
    }
    40% {
      text-shadow: 0.15ex 0 #a50610, -0.15ex 0 #0c2aa8, 0 0.14ex 0 rgba(0,0,0,.8), 0.12ex 0 0 rgba(0,0,0,.8);
    }
    to {
      visibility: hidden;
    }
  }
  @-webkit-keyframes blink-animation {
    to {
      visibility: hidden;
    }
  }
</style>
